{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
    <h1>Réponses</h1>
    
    {{ form_start(searchForm, {'attr': {'class': 'row g-3 justify-content-md-end'}}) }}
        <div class="col-auto">
            <p>Il y a {{ answers|length }} réponse(s)</p>
        </div>
        <div class="col-auto">
            {{ form_row(searchForm.search) }}
        </div>
        <div class="col-auto">
            <button class="btn btn-light"><i class="bi bi-search"></i></button>
        </div>
        <div class="col-auto">
            <a class="btn btn-success" href="{{ path('app_answer_new') }}">Nouveau</a>
        </div>
    {{ form_end(searchForm) }}

    <table class="table table-striped-columns">
        <thead class="table-light">
            <tr>
                <th>Etudiant</th>
                <th>Exercise</th>
                <th>Note</th>
                <th>Commentaires</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set user = answers.0.student.name ~ '_' ~ answers.0.student.lastName %}
        {% for answer in answers|sort((a, b) => a.student.name <=> b.student.name) %}
            {% if user != answer.student.name ~ '_' ~ answer.student.lastName %}
                <tr class="table-group-divider">
            {% else %}
                <tr>
            {% endif %}
                <td>{{ answer.student.name|capitalize }} {{ answer.student.lastName|upper }}</td>
                <td>{{ answer.exercise.title|u.truncate(50, '...') }}</td>
                <td>
                    {% if answer.rating is not empty %}
                        {{ answer.rating }}
                        {% if answer.exercise.maximumRating is not empty %}
                         / {{ answer.exercise.maximumRating }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ answer.supplements|length }}</td>
                <td>
                    <a class="btn btn-light" href="{{ path('app_answer_show', {'id': answer.id}) }}"><i class="bi bi-eye"></i></a>
                    <a class="btn btn-light" href="{{ path('app_answer_edit', {'id': answer.id}) }}"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
            {% set user = answer.student.name ~ '_' ~ answer.student.lastName %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
