{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Eleves{% endblock %}

{% block body %}
    <h1>Gestion des étudiants</h1>

    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>LastName</th>
                <th>Name</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <a class="btn btn-light" href="{{ path('app_student_show', {'id': student.id}) }}"><i class="bi bi-eye"></i></a>
                    <a class="btn btn-light" href="{{ path('app_student_edit', {'id': student.id}) }}"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}">Nouveau</a>
{% endblock %}
