{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notes</h1>

    {{ form_start(searchForm, {'attr': {'class': 'row g-3 justify-content-md-end'}}) }}
        <div class="col-auto">
            {{ form_row(searchForm.search) }}
        </div>
        <div class="col-auto">
            <button class="btn btn-light"><i class="bi bi-search"></i></button>
        </div>
        <div class="col-auto">
            <a class="btn btn-success" href="{{ path('app_html_generator_create') }}">Tout générer</a>
        </div>
    {{ form_end(searchForm) }}

    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                {% for libelle, subject in data.0.subjects %}
                    <th>{{ libelle }} ({{ subject.score.ratingMax }})</th>
                {% endfor %}
                <th>Note ({{ data.0.score.ratingMax }})</th>
                <th>Note (20)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for value in data %}
                {% set globalScore = value.score.rating + value.score.ratingUp %}
                <tr>
                    <td>{{ value.student.lastName|upper }}</td>
                    <td>{{ value.student.name|capitalize }}</td>
                    <td>{{ value.student.email }}</td>
                    {% for subject in value.subjects %}
                        <td>
                            {{ subject.score.rating|number_format(2, '.', ',') }} 
                            ({{ (0 <= subject.score.ratingUp) ? '+' : '' }}{{ subject.score.ratingUp|number_format(2, '.', ',') }})
                        </td>
                    {% endfor %}
                    <td>
                        {{ globalScore|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        {{ (20 * globalScore / value.score.ratingMax)|round(2, 'ceil')|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        <a class="btn btn-light" href="{{ path('app_html_generator', {'id': value.student.id }) }}"><i class="bi bi-filetype-pdf"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
