{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Suppléments{% endblock %}

{% block body %}
    <h1>Gestion des suppléments</h1>

    {{ form_start(searchForm, {'attr': {'class': 'row g-3 justify-content-md-end'}}) }}
        {{ form_widget(searchForm, {'attr': {'class': 'col-auto'}}) }}
        <div class="col-auto">
            <button class="btn btn-light"><i class="bi bi-search"></i></button>
        </div>
        <div class="col-auto">
            <a class="btn btn-success" href="{{ path('app_supplement_new') }}">Nouveau</a>
        </div>
    {{ form_end(searchForm) }}

    {% for supplementType in supplementTypes %}
        <h2>{{ supplementType.libelle }}</h2>
        <table class="table table-striped">
            <thead class="table-light">
                <tr>
                    <th>Id</th>
                    <th>Note</th>
                    <th>Catégorie</th>
                    <th>Nom</th>
                    <th>NbScore</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for supplement in supplementType.withSearch(searchValue) %}
                <tr>
                    <td>{{ supplement.id }}</td>
                    {% set rating = supplement.type.rating %}
                    {% if supplement.rating is not empty %}
                        {% set rating = supplement.rating %}
                    {% endif %}
                    <td>{{ rating }}</td>
                    <td>{{ supplement.type.libelle }}</td>
                    <td>{{ supplement.libelle }}</td>
                    <td>{{ supplement.scores|length }}</td>
                    <td>
                        <a class="btn btn-light" href="{{ path('app_supplement_show', {'id': supplement.id}) }}"><i class="bi bi-eye"></i></a>
                        <a class="btn btn-light" href="{{ path('app_supplement_edit', {'id': supplement.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
