{% extends 'base.html.twig' %}

{% block title %}Supplement{% endblock %}

{% block body %}
    {% set rating = supplement.type.rating %}
    {% if supplement.rating is not empty %}
        {% set rating = supplement.rating %}
    {% endif %}
    <h1>Supplement</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-light" href="{{ path('app_supplement_index') }}">Retour à la liste</a>

        <a class="btn btn-success" href="{{ path('app_supplement_edit', {'id': supplement.id}) }}">edit</a>

        {{ include('supplement/_delete_form.html.twig') }}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Catégorie</th>
                <td>{{ supplement.type.libelle }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ supplement.libelle }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ rating }}</td>
            </tr>
            <tr>
                <th>NbScore</th>
                <td>{{ supplement.scores|length }}</td>
            </tr>
        </tbody>
    </table>
    <ul class="list-group">
        {% for score in supplement.scores %}
            <li class="list-group-item">{{ score.student.name|capitalize }} {{ score.student.lastName|upper }}</li>
        {% endfor %}
    </ul>

{% endblock %}
