{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Notes{% endblock %}

{% block body %}
    <h1>Gestion des notes</h1>
    {{ form_start(searchForm, {'attr': {'class': 'row g-3 justify-content-md-end'}}) }}
        <div class="col-auto">
            {{ form_row(searchForm.search) }}
        </div>
        <div class="col-auto">
            <button class="btn btn-light"><i class="bi bi-search"></i></button>
        </div>
        <div class="col-auto">
            <a class="btn btn-success" href="{{ path('app_score_new') }}">Nouveau</a>
        </div>
    {{ form_end(searchForm) }}

    {% for subject in subjects %}
        <h2>{{ subject.libelle }}</h2>
        <table class="table table-striped">
            <thead class="table-light">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Matière</th>
                    <th>Note</th>
                    <th>NBSuppléments</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for score in subject.withSearch(searchValue) %}
                <tr>
                    <td>{{ score.id }}</td>
                    <td>{{ score.student.lastName }}</td>
                    <td>{{ score.student.name }}</td>
                    <td>{{ score.student.email }}</td>
                    <td>{{ score.subject.libelle }}</td>
                    <td>{{ score.rating|number_format(2, '.', ',') }} / {{ score.subject.maximumRating }}</td>
                    <td class="align-middle">{{ score.supplements|length }}</td>
                    <td>
                        <a class="btn btn-light" href="{{ path('app_score_show', {'id': score.id}) }}"><i class="bi bi-eye"></i></a>
                        <a class="btn btn-light" href="{{ path('app_score_edit', {'id': score.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}

